.hero__section {
  background-image: url('../images/hero2.jpg');
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -100px;

  @media screen and (min-width: 768px) {
    height: 700px;
  }
  @media screen and (min-width: 1200px) {
    height: 800px;
  }
}

.hero__container {
  width: 100%;
  height: 100%;
  padding: 0 0 50px 0;
  position: relative;
  // padding-bottom: 50px;
  &::before {
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    background-color: #000;
    opacity: 50%;
  }
}

.hero__logo-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero__logo-top {
  height: 50px;
  width: 200px;
  z-index: 2;
  // position: absolute;
  top: 180;
  border: 6px solid var(--text-active-color);
  border-bottom: transparent;
  opacity: 0;
  transform: translateY(-50%);
  transition: opacity 850ms ease-in-out, transform 650ms ease-in-out;
  @media screen and (min-width: 480px) {
    height: 80px;
    width: 300px;
    border: 8px solid var(--text-active-color);
    border-bottom: transparent;
    // top: 130;
  }
  @media screen and (min-width: 768px) {
    height: 100px;
    width: 350px;
    border: 10px solid var(--text-active-color);
    border-bottom: transparent;
    // top: 110;
  }
  @media screen and (min-width: 1200px) {
    height: 120px;
    width: 420px;
    // top: 70;
  }

  &.is-show {
    opacity: 1;
    transform: translateY(0);
  }
}
.hero__logo-text {
  z-index: 2;
  font-weight: bold;
  font-size: 42px;
  color: var(--text-active-color);
  @media screen and (min-width: 480px) {
    font-size: 64px;
  }
  @media screen and (min-width: 768px) {
    font-size: 76px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 92px;
  }
}
.hero__logo-bottom {
  height: 50px;
  width: 200px;
  z-index: 2;
  // position: absolute;
  bottom: 180;
  border: 6px solid var(--text-active-color);
  border-top: transparent;
  opacity: 0;
  transform: translateY(50%);
  transition: opacity 850ms ease-in-out, transform 650ms ease-in-out;
  @media screen and (min-width: 480px) {
    height: 80px;
    width: 300px;
    border: 8px solid var(--text-active-color);
    border-top: transparent;

    // bottom: 130;
  }
  @media screen and (min-width: 768px) {
    height: 100px;
    width: 350px;
    border: 10px solid var(--text-active-color);
    border-top: transparent;
    // bottom: 110;
  }
  @media screen and (min-width: 1200px) {
    height: 120px;
    width: 420px;
    // bottom: 70;
  }

  &.is-show {
    opacity: 1;
    transform: translateY(0);
  }
}

.primary__button {
  position: absolute;
  bottom: 45px;
  z-index: 2;
  transform: translateX(-50%);
  left: 50%;
  min-width: 230px;
  color: var(--text-active-color);
  background-color: transparent;
  padding: 18px 25px;
  border: 2px solid var(--text-active-color);
  // border-radius: 10px;
  font-weight: 700;
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-width 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    cursor: pointer;
    scale: 1.04;
    border-width: 2px;
    color: var(--text-active-color);
    background-color: var(--bg-acent-color);
  }
  @media screen and (min-width: 480px) {
    min-width: 300px;
  }
  @media screen and (min-width: 768px) {
    min-width: 350px;
  }
  @media screen and (min-width: 1200px) {
    min-width: 420px;
  }
}
