<section class="about__section" id="about">
  <div class="container about__container">
    <div class="about__wrap about__wrap--left">
      <img
        class="about__icon"
        src="./images/about-icon.png"
        alt="about-us-icon"
      />
      <div class="about__description-wrap">
        <h3 class="about__description-heading lng-who-we">О нас: КТО МЫ?</h3>
        <p class="about__description-text lng-who-we-desc">
          GEFEST LOGISTICS Sp. z o. o. является профессиональным польским
          дистрибютором новых европоддонов EPAL на рынок Европейского Союза от
          лицензированных производителей в Украине.
        </p>
      </div>
    </div>
    <div class="about__wrap about__wrap--right">
      <img class="about__icon" src="./images/service.png" alt="service-icon" />
      <div class="about__description-wrap">
        <h3 class="about__description-heading lng-about">
          НАШИ ВОЗМОЖНОСТИ ДЛЯ ВАШЕГО БИЗНЕСА
        </h3>
        <p class="about__description-text lng-about-desc">
          GEFEST LOGISTICS Sp. z o. o. имеет собсвенное производство поддонов
          EPAL в Украине а также занимается реализацей поддонов EPAL от
          производств-партнеров. Наша компания имеет возможность поставлять до
          100 000 европоддонов EPAL в месяц. С нами вы сможете увеличить
          количество клиентов.
        </p>
      </div>
    </div>
    <div class="about__wrap about__wrap--left">
      <img class="about__icon" src="./images/quality.png" alt="quality-icon" />
      <div class="about__description-wrap">
        <h3 class="about__description-heading lng-quality">
          КОНТРОЛЬ КАЧЕСТВА
        </h3>
        <p class="about__description-text lng-quality-desc">
          Наша фабрика и фабрики-партнеры находятся под постоянным контролем
          качества ответсвенных лиц назначеных нашей компанией для соблюдения
          всех требований European Pallet Association e.V . При каждой отгрузке
          сотрудник компании делаем фотоотчет по каждой партии.
        </p>
      </div>
    </div>
  </div>
</section>
