<section class="section contact__section">
  <div class="contact__container">
    <div class="contact__wrap">
      <div class="contact__text-wrap">
        <h3 class="contact__heading">Хотите узнать больше?</h3>
        <p class="contact__desc">
          Оставьте свои контактные данные, и наш менеджер в ближайшее время
          свяжется с Вами.
        </p>
      </div>
      <button class="secondary__button" type="button" data-modal-open>
        СВЯЗАТЬСЯ С НАМИ
      </button>
    </div>
  </div>
</section>
