<section class="delivery__section" id="delivery">
  <div class="container delivery__container">
    <div class="delivery__text-wrap">
      <h3 class="delivery__heading">Доставка</h3>
      <p class="delivery__desc">
        От 4 до 10 календарных дней со дня получения заказа.
      </p>
    </div>
    <div class="deliver__good-wrap">
      <img
        class="deliver__good-img"
        src="./images/epal2.png"
        alt="epal-pallet"
        width="250px"
      />
      <div class="deliver__good-text-wrap">
        <h3 class="deliver__good-heading">МЫ БУДЕМ ВАМ ПОЛЕЗНЫ</h3>
        <p class="deliver__good-desc">
          Мы поставляем новый европоддон EPAL только членам European Pallet
          Association e.V, производителям, ремонтникам и дилерам в Европе.
          GEFEST LOGISTICS Sp. z o. o. не доставляет поддоны конечным
          пользователям. Мы поставляем их вам, чтобы вы могли удовлетворить
          потребности ваших местных клиентов на 100%.
        </p>
      </div>
    </div>
  </div>
</section>
