<footer class="section footer__section" id="contacts">
  <div class="container footer__container">
    <div class="footer__logo-wrap">
      <img
        class="footer__logo"
        src="./images/logo-gefest-3.svg"
        alt="footer-logo"
        width="200px"
      />
      <p class="footer__logo-desc lng-footer-desc">
        We provide our customers with exceptional service, quality resources,
        and expertise. We deliver tailored pallets that are cost effective,
        reliable, and sustainable.
      </p>
      <button
        class="footer__logo-button lng-ask-question"
        type="button"
        data-modal-open
      >
        ЗАДАЙТЕ СВОЙ ВОПРОС
      </button>
    </div>
    <div class="footer__contact-wrap">
      <h3 class="footer__contact-heading lng-footer-conacts">КОНТАКТЫ</h3>
      <p class="footer__contact-desc lng-footer-operator">
        Наш менеджер Юлия с радостью ответит на все Ваши вопросы
      </p>
      <h4 class="footer__contact-name">Email</h4>
      <p class="footer__contact">
        <a href="mailto:sales.tc.gefest.llc@gmail.com"
          >sales.tc.gefest.llc@gmail.com</a
        >
      </p>
      <h4 class="footer__contact-name lng-footer-phone">Телефон</h4>
      <p class="footer__contact">
        <a href="tel:+380686213497">+38 (068) 621 34 97</a>
      </p>
    </div>
  </div>
</footer>
