<section class="section__header">
  <div class="container header__container">
    <a href="./index.html" class="header__logo">
      <img src="./images/logo-gefest-3.svg" alt="logj" width="100px" />
    </a>
    <ul class="header__menu-list">
      <li class="header__menu-list-item">О нас</li>
      <li class="header__menu-list-item">Доставка</li>
      <li class="header__menu-list-item">Контакты</li>
    </ul>
    <ul class="header__language-list">
      <li class="header__language-list-item">
        <a class="header__language-list-link header__language-list-link--active"
          ><span class="header__language-list-underline"></span>RU</a
        >
      </li>
      <li class="header__language-list-item">
        <a class="header__language-list-link"
          ><span class="header__language-list-underline"></span>EN</a
        >
      </li>
      <li class="header__language-list-item">
        <a class="header__language-list-link"
          ><span class="header__language-list-underline"></span>DE</a
        >
      </li>
    </ul>
  </div>
</section>
