<section class="section__header">
  <div class="container header__container">
    <a href="./index.html" class="header__logo">
      <img src="./images/logo-gefest-3.svg" alt="logo" width="100px" />
    </a>
    <ul class="header__menu-list">
      <li class="header__menu-list-item">
        <a class="header__menu-link" href="#about" nav>О нас</a>
      </li>
      <li class="header__menu-list-item">
        <a class="header__menu-link" href="#delivery" nav>Доставка</a>
      </li>
      <li class="header__menu-list-item">
        <a class="header__menu-link" href="#contacts" nav>Контакты</a>
      </li>
    </ul>
    <ul class="header__language-list">
      <li class="header__language-list-item">
        <a class="header__language-list-link header__language-list-link--active"
          ><span class="header__language-list-underline"></span>RU</a
        >
      </li>
      <li class="header__language-list-item">
        <a class="header__language-list-link"
          ><span class="header__language-list-underline"></span>EN</a
        >
      </li>
      <li class="header__language-list-item">
        <a class="header__language-list-link"
          ><span class="header__language-list-underline"></span>DE</a
        >
      </li>
    </ul>
    <button class="mob-menu__open-button" type="button">
      <span class="open-button__line open-button__line--top"></span>
      <span class="open-button__line open-button__line--center"></span>
      <span class="open-button__line open-button__line--bottom"></span>
    </button>
  </div>
</section>
